<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsrm.umweltrechner.dao.mapper.DashboardPageMapper">

    <insert id="insert" parameterType="com.hsrm.umweltrechner.dao.model.DashboardPage">
        INSERT INTO dashboard_page (dashboard_id, dashboard_component_id, position)
        VALUES (#{dashboardId}, #{dashboardComponentId}, #{position})
    </insert>

    <delete id="deleteByDashboardId">
        DELETE
        FROM dashboard_page
        WHERE dashboard_id = #{dashboardId}
    </delete>


</mapper>
