<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsrm.umweltrechner.dao.mapper.FormulaMapper">

    <resultMap id="BaseResultMap" type="com.hsrm.umweltrechner.dao.model.Formula">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="formula" jdbcType="VARCHAR" property="formula"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="changed_at" jdbcType="TIMESTAMP" property="changedAt"/>
        <result column="changed_by" jdbcType="VARCHAR" property="changedBy"/>
    </resultMap>


    <insert id="insert" parameterType="com.hsrm.umweltrechner.dao.model.Formula">
        INSERT INTO formula (id, formula, created_at, created_by, changed_at, changed_by)
        VALUES (#{id,jdbcType=VARCHAR},
                #{formula,jdbcType=VARCHAR},
                #{createdAt,jdbcType=TIMESTAMP},
                #{createdBy,jdbcType=VARCHAR},
                #{changedAt,jdbcType=TIMESTAMP},
                #{changedBy,jdbcType=VARCHAR})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id, formula, created_at, created_by, changed_at, changed_by
        from formula
        order by created_at
    </select>
</mapper>
