<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsrm.umweltrechner.dao.mapper.MetaSettingsMapper">
    <cache readOnly="true" />

    <resultMap id="BaseResultMap" type="com.hsrm.umweltrechner.dao.model.MetaSetting">
        <id column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
    </resultMap>


    <update id="update">
        UPDATE meta_settings
        SET value = #{value,jdbcType=VARCHAR}
        WHERE name = #{name,jdbcType=VARCHAR}
    </update>


    <select id="selectAll" resultMap="BaseResultMap">
        select name, value from meta_settings
    </select>


    <select id="selectByName" resultType="com.hsrm.umweltrechner.dao.model.MetaSetting">
        select name, value from meta_settings where name = #{name}
    </select>


</mapper>